version: "3"
services:
  plugins.choria:
    hostname: plugins.choria.local
    image: httpd:latest
    dns_search: choria.local
    volumes:
      - ./config/docroot:/usr/local/apache2/htdocs/
    networks:
      - choria.servers
  broker.choria:
    hostname: broker.choria.local
    image: ${CHORIA_IMAGE}:${CHORIA_TAG}
    dns_search: choria.local
    command: broker run --config /etc/choria/broker/broker.conf
    volumes:
      - ./config/broker:/etc/choria/broker
      - ./credentials/broker:/etc/choria/credentials
    networks:
      - choria.broker
      - choria.servers
      - choria.clients

  nats.choria:
    hostname: nats.choria.local
    image: synadia/nats-server:nightly
    dns_search: choria.local
    command: -js
    networks:
      - nats

  replicator.choria:
    hostname: replicator.choria.local
    image: ${SR_IMAGE}:${SR_TAG}
    dns_search: choria.local
    command: replicate --config /etc/stream-replicator/sr.yaml
    volumes:
      - ./config/stream-replicator:/etc/stream-replicator/
      - ./credentials/stream-replicator:/etc/stream-replicator/credentials
    networks:
      - choria.broker
      - nats
    depends_on:
      - broker.choria
      - nats.choria

  provisioner.choria:
    hostname: provisioner.choria.local
    image: ${PROV_IMAGE}:${PROV_TAG}
    dns_search: choria.local
    command: --config /etc/choria-provisioner/provisioner/provisioner.yaml --choria-config /etc/choria-provisioner/provisioner/choria.cfg
    volumes:
      - ./config/provisioner:/etc/choria-provisioner/provisioner
      - ./credentials/provisioner:/etc/choria-provisioner/credentials
    networks:
      - choria.broker
    depends_on:
      - broker.choria

  server.choria:
    image: ${CHORIA_IMAGE}:${CHORIA_TAG}
    dns_search: choria.local
    domainname: choria.local
    command: server run --config /etc/choria/server.conf
    user: root
    volumes:
      - ./credentials/server/provisioning.jwt:/etc/choria/provisioning.jwt
      - ./config/server/machine:/etc/choria/machine
      - ./go-choria:/usr/bin/choria
    networks:
      - choria.servers
    depends_on:
      - broker.choria
      - plugins.choria

  aaa.choria:
    hostname: aaa.choria.local
    image: ${AAA_IMAGE}:${AAA_TAG}
    dns_search: choria.local
    command: run --config /etc/aaasvc/aaa/aaa.conf
    volumes:
      - ./config/aaa:/etc/aaasvc/aaa
      - ./credentials/aaasvc:/etc/aaasvc/credentials
    networks:
      - choria.broker
      - choria.clients
    depends_on:
      - broker.choria

  client.choria:
    hostname: client.choria.local
    image: ${CHORIA_IMAGE}:${CHORIA_TAG}
    dns_search: choria.local
    entrypoint: /bin/bash
    command: "-l"
    stdin_open: true
    tty: true
    volumes:
      - ./config/client:/etc/choria
    networks:
      - choria.clients
    depends_on:
      - broker.choria

networks:
  choria.servers: {}
  choria.broker: {}
  choria.clients: {}
  nats: {}

